[Unit]
Description=Runs OpenGrok index  with 5 min between calls

[Timer]
#Time between clone-and-index finishing and calling it again
OnUnitActiveSec=5min
Unit=clone-and-index.service

[Install]
WantedBy=multi-user.target
