[Unit]
Description=Zuul Merger: Handles automated merging of changes
After=zuul-server.service

[Service]
User=root
ExecStart=/usr/bin/zuul-merger -d

[Install]
WantedBy=multi-user.target
