[Unit]
Description=Zuul: CI orchestration and Gatekeeper
After=mason-setup.service

[Service]
User=root
ExecStart=/usr/bin/zuul-server -d

[Install]
WantedBy=multi-user.target
